/* charactersComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .characters {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 37em;
  }
  .characters li {
    cursor: pointer;
    position: relative;
  }
  .characters li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .characters li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
